body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #FFE0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 325px;
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    --sb-track-color: #3d084d;
    --sb-thumb-color: #7c2957;
    --sb-size: 13px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #706e80;
}

h1 {
    margin-top: 10px;
    font-size: 1.8em;
    color: #222;
}

.email {
    font-size: 0.75em;
    color: #555555bb;
    margin-top: 5px;
    margin-bottom: 15px;
}

.description {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
    color: #333333
}

a:visited {
    text-decoration: none;
    color: #333333
}

a:hover {
    text-decoration: none;
    color: rgb(158, 45, 158);
}

a:active {
    text-decoration: none;
    color: rgb(158, 45, 158);
}

.cp {
    font-weight: bold;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #ddd;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    transition: transform 0.3s, background-color 0.3s;
    padding: 14px;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.389s;
}

.instagram {
    background-image: url('./media/svg/instagram.svg');
    filter: invert(35%) sepia(69%) saturate(3790%) hue-rotate(320deg) brightness(89%) contrast(97%);
}

.x {
    background-image: url('./media/svg/x.svg');
    filter: invert(50%) sepia(42%) saturate(1281%) hue-rotate(168deg) brightness(97%) contrast(96%);
}

.tiktok {
    background-image: url('./media/svg/tiktok.svg');
    filter: invert(30%) sepia(83%) saturate(4596%) hue-rotate(333deg) brightness(104%) contrast(99%);
}

.youtube {
    background-image: url('./media/svg/youtube.svg');
    filter: invert(14%) sepia(84%) saturate(6937%) hue-rotate(5deg) brightness(101%) contrast(119%);
}

.twitch {
    background-image: url('./media/svg/twitch.svg');
    filter: invert(27%) sepia(83%) saturate(2544%) hue-rotate(251deg) brightness(97%) contrast(99%);
}

.steam {
    background-image: url('./media/svg/steam.svg');
    filter: invert(24%) sepia(12%) saturate(1942%) hue-rotate(165deg) brightness(94%) contrast(90%);
}

.kofi {
    background-image: url('./media/svg/kofi.svg');
    filter: invert(45%) sepia(25%) saturate(5734%) hue-rotate(350deg) brightness(100%) contrast(103%);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    filter: blur(0.05px);
}

.item {
    width: 100%;
    padding-top: 100%;
    background: #FFD8D9;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
    transition-delay: 2s, 200ms;
    transition: transform 0.85s;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}